label{margin-left: 20px;}
#datepicker{width:180px; margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}
#datepicker1{width:180px; margin: 0 20px 20px 20px;}
#datepicker1 > span:hover{cursor: pointer;}
.btn-lg{
    padding: 10px;
}